---
import Topic, { type ItnTopicType } from "./itn-topic.astro";

type Props = {
  name: ItnTopicType;
};
const { name } = Astro.props;
---

<li class="relative">
  <span style="margin-right:0.25em;"> 
    <Topic name={name} />
  </span>
  <slot />
</li>

