---
import { Icon } from "astro-icon";

const supportedStyles = {
  white: {
    textColor: "text-white",
    backgroundColor: "bg-bkack",
  },
  black: {
    textColor: "text-black",
    backgroundColor: "bg-white",
  },
  sky: {
    textColor: "text-sky-600",
    backgroundColor: "bg-sky-100",
  },
  purple: {
    textColor: "text-purple-600",
    backgroundColor: "bg-purple-100",
  },
  red: {
    textColor: "text-red-600",
    backgroundColor: "bg-red-100",
  },
};
type SupportedStyle = keyof typeof supportedStyles;

type Props = {
  color?: SupportedStyle;
  icon?: string;
};
const { color = "white", icon = "circle-filled" } = Astro.props;

const { textColor, backgroundColor} = supportedStyles[color];
---

<li class="relative">
  <span
    class={`absolute -left-8 top-1 mt-0 h-6 w-6 rounded-full inline-flex items-center justify-center ${backgroundColor}`}>
    <Icon name={icon} class={`inline-block w-4 h-4 ${textColor}`} />
  </span>
  <slot />
</li>
