---
import { Icon } from "astro-icon";

const icons = {
  Robotique: {
    name: "robot",
    color: "text-rose-500",
    background: "bg-rose-200",
  },
  Automatique: {
    name: "settings-automation",
    color: "text-orange-500",
    background: "bg-orange-200",
  },
  Vision: {
    name: "eye",
    color: "text-blue-500",
    background: "bg-blue-200",
  },
  Apprentissage: {
    name: "brain",
    color: "text-purple-500",
    background: "bg-purple-200",
  },
};
export type MarevaTopicType = keyof typeof icons;

type Props = {
  name: MarevaTopicType
};
const { name } = Astro.props;

const icon = icons[name];
---

<span
  style="position:relative"
  class="transititext-primary text-primary transition duration-50 ease-in-out hover:text-primary-600 focus:text-primary-600 active:text-primary-700 dark:text-primary-400 dark:hover:text-primary-500 dark:focus:text-primary-500 dark:active:text-primary-600"
  data-te-toggle="tooltip"
  title={name}>
  <span style="position: relative; top:0.0625em;">
    <span
      class={`${icon.background} top-1 mt-0 w-5 h-5 rounded inline-flex items-center justify-center`}>
      <Icon
        name={icon.name}
        class={`${icon.color} inline-block w-4 h-4`}
      />
    </span>
  </span>
</span>
